/* https://stackoverflow.com/questions/2225585/how-to-change-a-div-padding-without-affecting-the-width-height */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    border: 0px;
    margin: 0;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #1e324a;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header-container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

@media all {
    .header-left, .header-right {
        width: 50%;
        float: left;
        height: 100%;
    }
    .header-right-down {
        text-align: right;
    }
    .header-right-up p {
        color: #f57b1b;
        text-align: right;    
        font: normal normal bold 15px/1.4em 'open sans condensed',sans-serif;
    }
}

@media (min-width: 1320px) {
    .header-container {
        width: 95%;
    }
}

@media (max-width: 980px) {
    .header-container {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .header {
        height: 10em;
    }
    .header-container {
        height: 100%;
    }
    .header-left img {
        margin: 0 auto;
    }
    .header-left, .header-right {
        width: 100%;
        height: 50%;
    }
    .header-right-up, .header-right-down {
        height: 50%;
    }
    .header-right-down {
        text-align: center;
    }
    .header-right-up p {
        text-align: center;
    }
}

.header-left {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header-left a {
    margin: 0 auto;
    display: inline;
    height: 80%;
    text-align: center;
}

.header-left img {
    height: 100%;
    text-align: center;
}

.header-right-up, .header-right-down {
    width: 100%;
    height: 50%;
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.topo {
    height:75vh;
    width: 100%;
    background-image: url("images/fundo_topo.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.topo-container {
    padding-top: 50px;
}

.topo-section {
    float: left;
    width: 100%;

    margin: 25px 0;
    
    justify-content: center;
    display: flex;
}

.topo-section div {
    width: 50%;
}

.topo-container h1 {
    font: normal normal bold 49px/1.4em 'open sans condensed',sans-serif;
    color: #f57b1b;
    text-align: center;
    margin: 0px;
}

.topo-container p {
    font: normal normal normal 18px/1.4em 'open sans condensed',sans-serif;
    text-align:center;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    transition: 0.5s;
    font-size: 20px;
    text-decoration: none;
    font-family: 'open sans condensed', sans-serif, monospace;
}

.button-orange {
    color: white;
    border: 2px solid white;
}

.button-orange:hover {
    border-color: #f57b1b;
    background-color: #f57b1b;
}

@media (max-width: 700px) {
    .topo-container {
        padding-top: 15px;
    }

    .topo-section {
        margin: 10px 0;
    }

    .topo-section div {
        width: 100%;
    }

    .topo-section h1 {
        font-size: 2em;
    }

    .topo-section p {
        font-size: 1em;
    }

    .topo {
        height: 55vh;
    }
}

.sobre {
    background-color: #fafafa;
}

.sobre-container {
    height: 720px;
    width: 75%;
    margin:0 auto;
}

.descricao-sobre {
    float: left;
    width: 50%;
    padding: 10px;
}

.imagem-sobre {
    float: left;
    width: 50%;
}

@media (max-width: 1000px) {
    .descricao-sobre {
        width: 100%;
    }

    .imagem-sobre {
        display: none;
    }
}

@media (max-width: 550px) {
    .sobre-container {
        width: 95%;
    }
}

@media (max-width: 440px) {
    .sobre-container {
        width: 100%;
        height: 800px;
    }
}

.servicos {
    background-color: #1e324a;
    height:100vh;
}

.servicos-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
}

.servicos-container h1 {
    color: white;
}

.servicos-itens {
    border: 1px solid black;

}

.item-servico {
    padding: 20px;
    background-color: white;
    width: 50%;
    height: 250px;
    margin: 0px;
    float: left;
}

.item-servico a {
    text-decoration: none;
    margin: 0px;
}

.item-servico-imagem, .item-servico-texto{
    width: 50%;
    height: 100%;
    float: left;
}

.item-servico-imagem {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.item-servico-imagem img{
    width: 150px;
    height: 150px;
}

.item-servico-texto {
    padding: 0 15px;
}

.item-servico-texto p {
    margin: 0;
}

.item-servico-texto p a {
    color: inherit;
    text-decoration: inherit;
}

.item-servico-texto p:first-child, .item-servico-texto p:last-child {
    color: #3d8a86;
}

.item-servico-texto p:first-child {
    margin-bottom: 25px;
}

.item-servico-texto p:last-child {
    margin-top: 25px;
}

@media (max-width: 1150px) {
    .servicos {
        height:115vh;
    }

    .servicos-container {
        width: 95%;
    }
}

@media (max-width: 750px) {
    
    .item-servico {
        width: 100%;
    }

    .servicos {
        height:200vh;
    }
}

.depoimentos {
    background-color: #f57b1b;
}

.depoimentos h1 {
    margin: 0;
}

.depoimentos-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
}

.depoimentos-container h1 {
    color: white;
}

.descricao-depoimentos > p {
    color: white;
    font-size: 17px;
}

.slider-container {
    margin-top: 50px;
}

.slider {
    width: 100%;
    /* max-width: 600px; */
    max-width: 80%;
    /* height: 200px; */
    height: 100%;
    text-align: center;
    border-radius: 20px;
    overflow:hidden ;
    /* position: relative; */
    margin: 0 auto;
}

.slides {
    display: flex;
    /* overflow-x: scroll; */
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    /* height: 200px; */
    height: 100%;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    /* background: white; */
    background: rgb(246, 123, 27);
    transform-origin: center center;
    transform: scale(1);
    padding: 5% 0% 25% 0%;
}

.aspa {
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    width: 100%;
    color: rgb(30, 50, 74);
}

.slide {
    padding: 0;
    padding-bottom: 15vh;
}

.slide__content {
    animation-name: animação;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 100%;
}

.slide__text, .slide__author {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(30, 50, 74);
}

.slide__author {
    margin-top: 1.5em;
    display: block;
}

@keyframes animação {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    33.33% {margin-left: -200%;}
    63.33% {margin-left: -200%;}
    66.66% {margin-left: -400%;}
    96.66% {margin-left: -400%;}
}

@media (max-width: 600px) {
    .depoimentos-container {
        width: 95%;
        padding: 0;
    }

    .slider {
        margin: 0 auto;
    }

    .slider-container {
        margin: 0;
    }

    .depoimentos h1 {
        font-size: 2.5em;
    }

    .aspa {
        font-size: 50px;
    }

    .slide {
        padding-bottom: 15px;
    }
}

.contato-container {
    margin:0 auto;
    overflow: auto;
}

.contato {
    background-color: #f8f8f8;
}

@media (max-width: 800px) {

    .contato-container {
        width: 90%;
        padding-top: 20px;
    }

    .contatos, .contato-formulario {
        width: 100%;
    }
}

@media (min-width: 800px) {

    .contato-container {
        width: 75%;
        padding-top: 40px;
    }

    .contato {
        height:80vh;
    }
    
    .contatos, .contato-formulario {
        width: 50%;
        float: left;
    }
    
    .contato-formulario {
        margin-top: 17vh;
    }
    
    .contatos p img {
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 25px;
        height: 25px;
    }

    .p1 {
        margin-bottom: 0px;
    }
}

.p1, .p2 {
    color: rgb(30,50,74);
    font-weight: 600;
}

.row {
    background: #f6f6f6;
    overflow: hidden;
    padding: 5px 10px;
}

.row #text {
    height: 10em;
}

.color-1 {
    color: #1e324a;
}

.color-2 {
    color: #f57b1b;
}

.color-3 {
    color: #bbbbbb;
}

#submit {
    height: 3em;
    border: 0;
    background-color: #f57b1b;

    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

#submit:hover {
    background-color: #f8bb8a;
}

.col {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 500px) {
    .col-left {
        float: left;
        width: 49%;
    }
    
    .col-right {
        margin-left: auto; 
        margin-right: 0;
        width: 49%;
    }

    .col input {
        width: 100%;
    }
}

@media (max-width: 499px) {
    .col-left {
        margin-bottom: 10px;
    }

    .p2 {
        justify-content: center;
    }

    .p2 img{
        width: 1.3em;
    }
}

.col input, .col2 input {
    width: 100%;
    height: 30px;
    padding: 15px;
}

.localizacao {
    background-color: #1e324a;
}

.localizacao-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
}

.localizacao h1 {
    color: white;
}

.localizacao p {
    margin: 0;
    color: white;
}

@media (max-width: 620px) {
    .localizacao-container {
        width: 95%;
        padding-top: 0px;
    }

    .localizacao h1 {
        font-size: 2em;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .mapa {
        height: 20em;
    }
}


.footer {
    background-color: white;
    height: 90px;
    width: 75%;
    margin: 0 auto;
}

.footer-left, .footer-right, .footer-middle {
    height: 100%;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* justify-content: center; */
}

.footer-right p {
    display: inline-block;
}

.footer p {
    display: inline;
    color: #1e324a;
    font: normal normal bold 1em 'open sans condensed',sans-serif;
}

.footer a {
    padding: 0 10px;
}

@media (max-width: 620px) {
    .footer-left, .footer-right {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .footer-middle, .footer-right {
        height: 15px;
    }

    .footer-left {
        height: 45px;
        margin-top: 1em;
    }
    
    .footer-right {
        margin-top: 1em;
    }

    .footer-middle {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding: 0 5em;
    }
}

@media (min-width: 621px) {
    .footer-left, .footer-right {
        width: 50%;
        float: left;
    }

    .footer-right {
        justify-content: right;
    }
}

/* .imagem-sobre img {
} */

h1 {
    color: #1e324a;
    font: normal normal bold 48px/1.4em 'open sans condensed',sans-serif;
}

h2 {
    color: #f57b1b;
    font: normal normal bold 25px/1.4em 'open sans condensed',sans-serif;
}

p {
    font: normal normal normal 18px/1.4em 'open sans condensed',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4em;
    color: #7d7d7d;
}