.secao-servico {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.secao-servico-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.secao-servico-left {
    width: 20%;
}

.secao-servico-left img {
    width: 100%;
    background-color: #f57b1b;

}

.secao-servico-right {
    width: 80%;
    padding-left: 8em;
    padding-top: 5em;
}

.secao-servico-vantagens {
    display: flex;
    justify-content: center;
    /* justify-content: space-between;
    align-items: center; */
}

.secao-servico-vantagem {
    width: 33.3%;
    padding: 10px;
}

.secao-servico-h1, .secao-servico-h2 {
    color: #3d8a86;
}

.secao-servico-h2 {
    font-size: 25px;
}

.secao-servico-p {
    font-size: 18px;
}

.button-green {
    border: 2px solid #3d8a86;
    color: #3d8a86;
}

.button-green:hover {
    border-color: #3d8a86;
    background-color: #3d8a86;
    color: white;
}

.secao-servicos-small {
    background-color: #1e324a;
    padding: 80px 0;
}

.secao-servicos-small-container {
    width: 75%;
    margin:0 auto;
}

.secao-servicos-small-container h1{
    color: white;
}

.secao-servicos-small-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.servico-small {
    height: 300px;
    width: 24%;
    background-color: white;
    padding: 15px;
    /* margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; */
}

.servico-small img {
    height: 200px;
    width: 100%;
}

.servico-small:nth-child(1) img {
    background-color: #3d8a86;
}

.servico-small:nth-child(3) img {
    background-color: #1e324a;
}

.servico-small:nth-child(even) img {
    background-color: #f57b1b;
}

.servico-small a {
    text-decoration: none;
}

.servico-small p {
    margin-top: 15px;
    font: normal normal normal 18px/1.4em 'open sans condensed',sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.servico-small:nth-child(odd) p {
    color: #3d8a86;
}

.servico-small:nth-child(even) p {
    color: #f57b1b;
}

.botoes-servicos {
    display: flexbox;
    flex-wrap: wrap;
}

.botoes-servicos div {
    float: left;
    width: 50%;
}

.botoes-servicos :last-child {
    text-align: right;
}

















@media (max-width: 650px) {
    .secao-servico-vantagens {
        flex-wrap: wrap;
    }

    .secao-servico-vantagem {
        width: 100%;
    }

    .secao-servicos-small-container {
        width: 95%;
    }
    
    .botoes-servicos div {
        float: none;
        width: 100%;
        padding-bottom: 15px;
    }

    .botoes-servicos :last-child {
        text-align: center;
    }

    .botoes-servicos > div > a {
        width: 100%;
    }

    .servico-small {
        width: 49%;
        margin-top: 15px;
        height: 400px;;
    }
}

@media (max-width: 920px) {
    .servico-small {
        width: 48%;
        margin-top: 30px;
        height: 300px;
    }
}

@media (max-width: 1150px) {
    .secao-servico-left {
        display: none;
    }

    .secao-servico-right {
        width: 100%;
        padding-top: 2em;
        padding-left: 0;
    }

    .secao-servicos-small-container {
        width: 90%;
    }
}