.secao-calculadora {
    width: 800px;
    padding-top: 80px;
    margin: 0 auto;
}

.secao-calculadora h1 {
    margin: 0px;
}

.secao-calculadora-container {
  width: 100%;
}


.secao-calculadora-form {
    /* margin: 0 auto; */
    /* outline: 1px solid black; */
    
}
.form-row {
  /* outline: 1px solid black; */
}

.coluna {
    /* outline: 1px solid black; */
    /* text-align: center; */
    /* outline: 1px solid black; */
}

.radio-lg .custom-control-label::before, .checkbox-lg .custom-control-label::before, 
.radio-lg .custom-control-label::after, .checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.radio-lg .custom-control-label, .checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.row {
  padding: 0px;
}

.col-sm {
  padding: 0px !important;
}