/* https://stackoverflow.com/questions/2225585/how-to-change-a-div-padding-without-affecting-the-width-height */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    padding: 0;
    border: 0px;
    margin: 0;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #1e324a;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header-container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.header-left, .header-right {
    width: 50%;
    float: left;
    height: 100%;
}

.header-left {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header-left img {
    height: 80%;
    text-align: center;
}

.header-right-up, .header-right-down {
    width: 100%;
    height: 50%;
}

.header-right-down {
    text-align: right;
}

.header-right-up p {
    color: #f57b1b;
    text-align: right;    
    font: normal normal bold 15px/1.4em 'open sans condensed',sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

.topo {
    height:75vh;
    width: 100%;
    background-image: url("images/fundo_topo.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.topo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.topo-container h1 {
    font: normal normal bold 49px/1.4em 'open sans condensed',sans-serif;
    color: #f57b1b;
    text-align: center;
}

.topo-container p {
    font: normal normal normal 18px/1.4em 'open sans condensed',sans-serif;
    text-align:center;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    border: 2px solid white;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}

.button a {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.sobre {
    background-color: #fafafa;
}

.sobre-container {
    height: 720px;
    width: 75%;
    margin:0 auto;
    display: flex;
}

.descricao-sobre {
    width: 100%;
    padding: 10px;
}

.imagem-sobre {
    width: 100%;
}

.servicos {
    background-color: #1e324a;
    height:100vh;
}

.servicos-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
}

.servicos-container h1 {
    color: white;
}

.item-servico {
    padding: 20px;
    background-color: white;
    width: 48%;
    height: 250px;
    float: left;
}

.item-servico-divisor {
    padding: 20px;
    background-color: #1e324a;
    width: 2%;
    height: 250px;
    float: left;
}

.item-servico-imagem, .item-servico-texto{
    width: 50%;
    height: 100%;
    float: left;
}

.item-servico-imagem {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.item-servico-imagem img{
    width: 150px;
    height: 150px;
}

.item-servico-texto {
    padding: 0 15px;
}

.item-servico-texto p {
    margin: 0;
}

.item-servico-texto p:first-child, .item-servico-texto p:last-child {
    color: #3d8a86;
}

.item-servico-texto p:first-child {
    margin-bottom: 25px;
}

.item-servico-texto p:last-child {
    margin-top: 25px;
}



.depoimentos {
    background-color: #f57b1b;
    height:85vh;
}

.depoimentos-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
    border: 1px solid black;
}

.depoimentos-container h1 {
    color: white;
}

.contato {
    background-color: #f8f8f8;
    height:80vh;
}

.contato-container {
    width: 75%;
    padding-top: 40px;
    margin:0 auto;
    border: 1px solid black;
    overflow: auto;
}

.contatos, .contato-formulario {
    width: 50%;
    float: left;
}

.contatos p img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}

.p1 {
    color: rgb(30,50,74);
    font-weight: normal;
}

.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}

.col {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.col-left {
    float: left;
    width: 50%;
}

.col-right {
    margin-left: auto; 
    margin-right: 0;
    width: 50%;
}

.col input, .col2 input {
    height: 30px;
    padding: 15px;
}

.col input {
    width: 100%;
}

.col2 input {
    width: 90%;
}

.footer {
    background-color: white;
    height: 90px;
    width: 80%;
    margin: 0 auto;
    padding-left: 50px;
}

.footer-left, .footer-right {
    width: 50%;
    float: left;
    height: 100%;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* justify-content: center; */
}

.footer-right {
    justify-content: right;
}

.footer-right p {
    display: inline-block;
}

.footer p {
    display: inline;
    color: #1e324a;
    font: normal normal bold 1em 'open sans condensed',sans-serif;
}

.footer a {
    padding: 0 10px;
}

/* .imagem-sobre img {
} */

h1 {
    color: #1e324a;
    font: normal normal bold 48px/1.4em 'open sans condensed',sans-serif;
}

h2 {
    color: #f57b1b;
    font: normal normal bold 25px/1.4em 'open sans condensed',sans-serif;
}

p {
    font: normal normal normal 18px/1.4em 'open sans condensed',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4em;
    color: #7d7d7d;
}