.secao-calculadora {
    background-color: #e4e4e4;
}

.secao-calculadora-in {
  width: 800px;
  margin: 0 auto;
}

.secao-calculadora h1 {
    margin: 0px;
}

.secao-calculadora-container {
  width: 100%;
}

.container-calculadora {
  padding: 0 15px;
}


.secao-calculadora-form {
    /* margin: 0 auto; */
    /* outline: 1px solid black; */
    
}
.form-row {
  /* outline: 1px solid black; */
}

.coluna {
    /* outline: 1px solid black; */
    /* text-align: center; */
    /* outline: 1px solid black; */
}

.radio-lg .custom-control-label::before, .checkbox-lg .custom-control-label::before, 
.radio-lg .custom-control-label::after, .checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.radio-lg .custom-control-label, .checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.row {
  padding: 0px;
}

.col-sm {
  padding: 0px !important;
}







.secao-calculadora {
  padding: 50px 0;
}

.calculadora {
  display: flex;
  flex-direction: column;
}


.escolhas-principais, .escolhas-bebidas {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.escolha-tipo, .escolha-local, .escolha-tipos-bebidas {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 170px;
}

.escolha-bebida-alcoolica, .escolha-bebida-nao-alcoolica, .escolha-bebida-destilada {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 170px;
}

.resultados {
  width: 100%;
}

.header-escolha {
  background-color: #343a40;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.custom-control-container {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.linha-resultado {
  display: none;
  padding: 10px;
}

@media (max-width: 830px) {
  .secao-calculadora-in {
    width: 85%;
  }
}

@media (max-width: 540px) {
  .secao-calculadora-in {
    width: 90%;
  }
}

.row-calculadora:after {
  content:"";
  display:block;
  clear:both;
 }

.row-calculadora {
  width: 100%;
  margin-top: 15px;
}

.row-calculadora textarea {
  height: 150px;
}

.row-calculadora input, .row-calculadora textarea {
  width: 100%;
  padding: 10px;
}

.col-left-calculadora, .col-right-calculadora {
  width: 49%;
}

.col-left-calculadora {
  float: left;
}

.col-right-calculadora {
  float: right;
}

@media (max-width: 620px) {
  .col-left-calculadora, .col-right-calculadora {
    width: 100%;
    float: none;
    display: inherit;
  }

  .col-right-calculadora {
    margin-top: 15px;
  }
}